section{
    margin: 20px 20px 20px 20px;
    min-width: 600 px;
}

.menu{
    display: flex;
    flex-direction: row;
}

button{
    margin-right: 10px;
}

.todolist{
    display: flex;
    flex-direction: row;
    margin: 0px 20px 20px 0px;
    padding-top: 10px;
}